<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentInfo"
        tools:targetApi="31">

        <!-- This is your main entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare all other activities in your app -->
        <activity android:name=".AddStudentActivity" />
        <activity android:name=".ViewStudentsActivity" />
        <activity android:name=".UpdateStudentActivity" />
        <activity android:name=".StudentRecordsActivity"
            tools:ignore="MissingClass" />

    </application>

</manifest>